<footer>
    <div class="container footer_container">
        <div class="row">
            <div class="col-md-2 col-sm-4 col-xs-6">
                <a href="#" class="footer_link">
                    Contact
                </a>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <a href="#" class="footer_link">
                    Download
                </a>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <a href="#" class="footer_link">
                    Press
                </a>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <a href="#" class="footer_link">
                    Email
                </a>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <a href="#" class="footer_link">
                    Support
                </a>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <a href="#" class="footer_link">
                    Privacy Policy
                </a>
            </div>
        </div>
    </div>
</footer>