<header>
    <div class="header_background">
        <div class="container header_container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="header_title">
                        Craze
                    </div>
                    <div class="header_description">
                        A great new free psd theme to showcase your new app. 
                    </div>
                    <div class="header_icons-wrapper">
                        <button class="header_button">
                            <span class="header_apple"></span>
                        </button>
                        <button class="header_button">
                            <span class="header_android"></span> 
                        </button>
                        <button class="header_button">
                            <span class="header_windows"></span>
                        </button>
                    </div>
                </div>
                <div class="col-sm-6 header_hand-wrapper">
                    <img src="../img/hand-iphone.png" 
                        class="header_hand-image" 
                        alt="Hand holding phone">
                </div>
            </div>
        </div>
    </div>
</header>