<div class="pricing_card">
    <div class="pricing_header">
        Unlimited
    </div>
    
    <div class="pricing_body">
        <div class="pricing_price row">
            <div class="col-xs-6 pricing_price-col">
                <div class="pricing_price-big">
                    &#36;79
                </div>
            </div>
            <div class="col-xs-6 pricing_price-col">
                <div class="pricing_price-small">
                    99
                </div>
            </div>
        </div>
        
        <div class="pricing_feature-wrapper">
            <div class="pricing_feature">
                Feature 1
            </div>
        </div>
        <div class="pricing_feature-wrapper">
            <div class="pricing_feature">
                Feature 2
            </div>
        </div>
        <div class="pricing_feature-wrapper">
            <div class="pricing_feature">
                Feature 3
            </div>
        </div>
        <div class="pricing_feature-wrapper">
            <div class="pricing_feature">
                Feature 4
            </div>
        </div>
        <div class="pricing_feature-wrapper">
            <div class="pricing_feature">
                Feature 5
            </div>
        </div>
    </div>

    <div class="pricing_footer">
        <button class="pricing_purchase-button">
            Purchase
        </button>
    </div>
</div>