<section>
    <div class="container features_upper-wrapper">
        <h1 class="features_title">
            Craze Features
        </h1>
        <div class="features_description">
            Lorem ipsum dolor sit amet, pro aeterno adipisci ex, pro no iriure accusam. Eros admodum intellegat ex mea, mei wisi nullam ne, qui cu aliquid nominavi. Est habemus maiestatis ut. Vim quod elitr interesset ea.
        </div>
    </div>

    <div class="container features_lower-wrapper">
        <div class="row">
            <div class="col-sm-6 col-md-4 features_col features_1">
                <div class="features_icon-wrapper">
                    <div class="features_icon features_monitor">
                    </div>
                    <div class="features_icon-title">
                        Flat Design
                    </div>
                    <div class="features_icon-description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse fringilla.
                    </div>
                </div>
            </div>
            
            <div class="col-sm-6 col-md-4 features_col features_2">
                <div class="features_icon-wrapper">
                    <div class="features_icon features_target">
                    </div>
                    <div class="features_icon-title">
                        Marketable
                    </div>
                    <div class="features_icon-description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse fringilla.
                    </div>
                </div>
            </div>
            
            <div class="col-sm-6 col-md-4 features_col features_3">
                <div class="features_icon-wrapper">
                    <div class="features_icon features_picture">
                    </div>
                    <div class="features_icon-title">
                        Edit Photos
                    </div>
                    <div class="features_icon-description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse fringilla.
                    </div>
                </div>
            </div>
            
            <div class="col-sm-6 col-md-4 features_col features_4">
                <div class="features_icon-wrapper">
                    <div class="features_icon features_palette">
                    </div>
                    <div class="features_icon-title">
                        Edit Colors
                    </div>
                    <div class="features_icon-description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse fringilla.
                    </div>
                </div>
            </div>
            
            <div class="col-sm-6 col-md-4 features_col features_5">
                <div class="features_icon-wrapper">
                    <div class="features_icon features_user">
                    </div>
                    <div class="features_icon-title">
                        User Friendly
                    </div>
                    <div class="features_icon-description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse fringilla.
                    </div>
                </div>
            </div>
            
            <div class="col-sm-6 col-md-4 features_col">
                <div class="features_icon-wrapper">
                    <div class="features_icon features_gear">
                    </div>
                    <div class="features_icon-title">
                        100% Editable
                    </div>
                    <div class="features_icon-description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse fringilla.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
  