<section>
    <div class="about_background">
        <div class="container about_container">
            <div class="row">
                <div class="col-md-6">
                    <div class="about_left-wrapper">
                        <div class="about_title">
                            Whats Craze all About?
                        </div>
                        <div class="about_description">
                            <p class="about_p">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse fringilla fringilla nisl congue congue. Maecenas nec condimentum libero, at elementum mauris. 
                            </p>
                            
                            <p>
                                Phasellus eget nisi dapibus, ultricies nisl at, hendrerit risusuis ornare luctus id sollicitudin ante lobortis at.
                            </p>
                        </div>
                        <div class="about_bullets">
                            <ul class="about_ul">
                                <li>
                                    Lorem ipsum dolor sit amet
                                </li>
                                <li>
                                    Lorem ipsum dolor sit amet consectetur elt
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="about_video-wrapper">
                        <iframe class="about_iframe" 
                            src="https://player.vimeo.com/video/65490463?title=0&byline=0&portrait=0&sidedock=0&player=html5&wmode=transparent" 
                            frameborder="0" 
                            webkitallowfullscreen 
                            mozallowfullscreen 
                            allowfullscreen>
                        </iframe>
                        <div class="about_rounded-border">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>