<section>
    <div class="container pricing_container">
        <div class="pricing_title">
            Pricing Plans
        </div>
        <div class="pricing_description">
            Lorem ipsum dolor sit amet, pro aeterno adipisci ex, pro no iriure accusam. Eros admodum intellegat ex mea,mei wisi nullam ne, qui cu aliquid nominavi. Est habemus maiestatis ut. Vim quod elitr interesset ea.
        </div>
        <div class="pricing_prices-wrapper">
            <!-- partial:cards/_basic-card.html -->
            <!-- partial -->
            <!-- partial:cards/_standard-card.html -->
            <!-- partial -->
            <!-- partial:cards/_deluxe-card.html -->
            <!-- partial -->
            <!-- partial:cards/_unlimited-card.html -->
            <!-- partial -->
        </div>
    </div>
</section>

