<section>
    <div class="container getintouch_container">
        <div class="getintouch_title">
            Say Hi &amp; Get in Touch
        </div>
        <div class="getintouch_description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit suspendisse. 
        </div>
        <div class="getintouch_icons-wrapper">
            <button class="getintouch_button getintouch_twitter-wrapper">
                <span class="getintouch_twitter"></span>
            </button>
            <button class="getintouch_button getintouch_facebook-wrapper">
                <span class="getintouch_facebook"></span> 
            </button>
            <button class="getintouch_button getintouch_pinterest-wrapper">
                <span class="getintouch_pinterest"></span> 
            </button>
            <button class="getintouch_button getintouch_googleplus-wrapper">
                <span class="getintouch_googleplus"></span> 
            </button>
            <button class="getintouch_button getintouch_linkedin-wrapper">
                <span class="getintouch_linkedin"></span> 
            </button>
            <button class="getintouch_button getintouch_youtube-wrapper">
                <span class="getintouch_youtube"></span> 
            </button>
        </div>
    </div>
</section>