@import 'mixins';

.about {
    &_background {
        height: auto;
        width: 100%;
        background-color: $lightgray;
    }

    &_container {
        padding: 2em 2em 3em 2em;

        @include for-sm-up {
            padding: 2em 2em 3em 2em;
        }

        @include for-md-up {
            padding: 4em 1em 4em 1em;
        }
    }

    &_left-wrapper {
        @include for-md-up {
            padding-right: 40px;
        }
    }

    &_title {
        font-size: 30px;
        font-family: "Myriad Pro";
        color: rgb(34, 34, 34);
        line-height: 1;
        text-align: left;
        font-weight: bold;
        margin-top: 1em;
    }

    &_description {
        font-size: 18px;
        font-family: "HelveticaNeue";
        color: rgb(132, 132, 132);
        line-height: 1.625;
        text-align: left;
        margin-top: 40px;
    } 

    &_p {
        margin-bottom: 10px;
    }

    &_bullets {
        font-size: 18px;
        font-family: "HelveticaNeue";
        color: rgb(132, 132, 132);
        line-height: 1.625;
        text-align: left;
        margin-top: 20px;
        margin-left: 40px;
    }
      
    &_ul {
        list-style-image: url('../img/arrow-right.svg');
    }

    &_video-wrapper {
        position: relative;
        padding-bottom: 56.25%; /* 16:9 */
        height: 0;
        border-radius: 10px;
        border: 1px solid $lightgray;
        overflow: hidden;
        margin-top: 40px;

        @include for-md-up {
            margin-top: 10px;
        }
    }

    &_iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
  