@font-face {
    font-family: Pacifico;
    src: url("../fonts/Pacifico.ttf");
}

@font-face {
    font-family: HelveticaNeue;
    src: url("../fonts/HelveticaNeue.ttf");
}

@font-face {
    font-family: HelveticaNeueMedium;
    src: url("../fonts/HelveticaNeueMedium.ttf");
}