@import 'mixins';

.footer {
    &_container {
        height: auto;
        width: 100%;
        background-color: $lightgray;
        padding-top: 2em;
        padding-bottom: 2em;
        text-align: center;

        @include for-sm-up {
            padding-left: 10em;
            padding-right: 10em;
        }

        @include for-md-up {
            padding-left: 20%;
            padding-right: 20%;
        }

        @include for-lg-up {
            padding-left: 30%;
            padding-right: 30%;
        }
    }

    &_link {
        font-size: 18px;
        font-family: "HelveticaNeue";
        color: rgb(132, 132, 132);
        line-height: 2;
        white-space: nowrap;
    }
}
  