@import 'mixins';

.getintouch {

    &_container {
        padding: 7em 2em 2em 2em;

        @include for-sm-up {
            padding: 8em 3em 2em 3em;
        }

        @include for-md-up {
            padding: 8em 4em 5em 4em;
        }
    }

    &_title {
        font-size: 30px;
        font-family: "Myriad Pro";
        color: rgb(0, 0, 0);
        line-height: 0.8;
        text-align: center;
        font-weight: bold;
    }

    &_description {
        font-size: 18px;
        font-family: "HelveticaNeue";
        color: rgb(132, 132, 132);
        line-height: 1.625;
        text-align: center;
        margin-top: 20px;
    } 

    &_icons-wrapper {
        margin-top: 30px;
        text-align: center;
    }

    &_button {
        display: inline-block;
        border-radius: 1.3em;
        border-width: 0;
        width: 2.6em;
        height: 2.6em;
        background-color: lightgray;
        margin-right: 10px;

        &:hover {
            background-color: $lightblue;
        }
    }

    &_twitter {
        background: url("../img/twitter.png") no-repeat top left;
        background-size: contain;
        cursor: pointer;
        display: inline-block;
        height: 1.5em;
        width: 1.5em;
        position: relative;
        top: 5px;
    }

    &_facebook {
        background: url("../img/facebook.svg") no-repeat top left;
        background-size: contain;
        cursor: pointer;
        display: inline-block;
        height: 1.5em;
        width: 1.5em;
        position: relative;
        left: 5px;
    }

    &_pinterest{
        background: url("../img/pinterest.svg") no-repeat top left;
        background-size: contain;
        cursor: pointer;
        display: inline-block;
        height: 1.5em;
        width: 1.5em;
    }

    &_googleplus{
        background: url("../img/googleplus.svg") no-repeat top left;
        background-size: contain;
        cursor: pointer;
        display: inline-block;
        height: 1.5em;
        width: 1.5em;
        position: relative;
        top: 3px;
    }

    &_linkedin{
        background: url("../img/linkedin.svg") no-repeat top left;
        background-size: contain;
        cursor: pointer;
        display: inline-block;
        height: 1.5em;
        width: 1.5em;
    }

    &_youtube{
        background: url("../img/youtube.png") no-repeat top left;
        background-size: contain;
        cursor: pointer;
        display: inline-block;
        height: 1.5em;
        width: 1.5em;
        position: relative;
        left: 4px;
    }
}