@import 'mixins';

.header {
    &_background {
        height: auto;
        width: 100%;
        background-image: url("../img/header-background.png");
    }

    &_container {
        padding: 1em 3em 0 3em;

        @include for-sm-up {
            padding: 1.5em 4em 0 4em;
        }

        @include for-md-up {
            padding: 4em 10em 0 10em;
        }
    }

    &_title {
        font-size: 72px;
        font-family: "Pacifico", cursive;
        color: rgb(255, 255, 255);
        text-align: left;
        text-shadow: 2px 3.464px 0px rgba(0, 1, 1, 0.25);
        margin-top: 1em;
    }

    &_description {
        font-size: 24px;
        font-family: "HelveticaNeueMedium";
        color: rgb(255, 255, 255);
        text-align: left;
        text-shadow: 2px 3.464px 0px rgba(0, 1, 1, 0.25);
        margin-top: 40px;
        line-height: 36px;
    }

    &_icons-wrapper {
        margin-top: 1.5em;

        @include for-xs-only {
            text-align: center;
        }
    }

    &_button {
        display: inline-block;
        border-radius: 1.6em;
        border-width: 0;
        width: 3.2em;
        height: 3.2em;
        background-color: black;
        margin-right: 10px;
        padding-left: 8px;
        opacity: 0.5;

        &:hover {
            opacity: 1;
        }
    }

    &_apple {
        background: url("../img/apple@1x.svg") no-repeat top left;
        background-size: contain;
        cursor: pointer;
        display: inline-block;
        height: 1.5em;
        width: 1.5em;
    }

    &_android {
        background: url("../img/android@1x.svg") no-repeat top left;
        background-size: contain;
        cursor: pointer;
        display: inline-block;
        height: 1.5em;
        width: 1.5em;
    }

    &_windows {
        background: url("../img/windows@1x.svg") no-repeat top left;
        background-size: contain;
        cursor: pointer;
        display: inline-block;
        height: 1.4em;
        width: 1.4em;
    }

    &_hand-wrapper {
        margin: 0;
        padding: 0;
    }

    &_hand-image {
        max-width: 100%;
        height: auto;   
        display: block;
        margin: 50px auto 0 auto;
    }
}
  