$white:     #FFFFFF;
$blue:      rgb(13, 116, 185);
$lightblue: rgb(52, 152, 219);
$darkblue:  darken($blue, 5%);
$darkestblue:  darken($darkblue, 5%);
$black:     #000000;
$lightgray: rgb(235, 235, 235);
$gray:        rgb(200, 200, 200);
$darkgray:    rgb(132, 132, 132);

$bg-color: $white;
$text-color: $black;

$paragraph-font-size: 1.2rem;

$breakpoints: (
    xs-max: 767px,
    sm-min: 768px,
    md-min: 992px,
    lg-min: 1200px
);

body {
    background-color: $bg-color;

    &_container {
        height: 100%;
        width: 100%;
        padding: 0;
        overflow-y: auto;
    }
}