@import 'mixins';

.testimonials {

    &_carousel {
        width: 100%;
        white-space: nowrap;
        overflow-x: hidden;   
        position: relative;
    }

    &_carousel-image {
        width: 100%;
        display: inline-block;
        white-space: normal;
        position: relative;

        padding: 2.5em 3em 5.5em 3em;

        @include for-sm-up {
            padding: 3em 6em 6em 6em;
        }

        @include for-md-up {
            padding: 4em 12em 9em 12em;
        }
    }

    &_comment {
        font-size: 24px;
        font-family: "HelveticaNeue";
        font-style: italic;
        color: $darkgray;
        line-height: 1.333;
        text-align: center;
    }

    &_author {
        font-size: 18px;
        font-family: "Myriad Pro";
        color: rgb(34, 34, 34);
        line-height: 1;
        text-align: center;
        margin-top: 20px;
      }
}
