<section>
    <div id="craze-carousel" class="testimonials_carousel">

        <div class="craze-carousel-item testimonials_carousel-image">
            <div class="testimonials_comment">
                “Craze is one of the most complete app packages I have ever come across. I would highly reccomend it to anyone!”
            </div>
            <div class="testimonials_author">
                Sarah Hunt
            </div>
        </div>
        
        <div class="craze-carousel-item testimonials_carousel-image">
            <div class="testimonials_comment">
                “I had a blast programming Craze! I would love to help build other projects like this one!”
            </div>
            <div class="testimonials_author">
                Matheus Wisniewski
            </div>
        </div>
        
        <div class="craze-carousel-item testimonials_carousel-image">
            <div class="testimonials_comment">
                “The best part about Craze is how well programmed it was.”
            </div>
            <div class="testimonials_author">
                ArcTouch Manager
            </div>
        </div>
    </div>
</section>